{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block content %}



<div class = "game-board">
<h1>Tjugoett - det svenska kortspelet</h1>
<p>Tjugoett är ett kortspel som är den svenska motsvarigheten till det internationellt spridda kortspelet Black Jack. De viktigaste skillnaderna mellan dessa två spel är dels kortens värde, dels att bankiren i tjugoett spelar mot en spelare i taget och inte som i Black Jack mot alla på en gång. Båda spelen leder sitt ursprung till vingt-et-un, som spelades vid det franska hovet på 1700-talet.</p>
<p>Spelets idé är att med två eller flera kort försöka uppnå det sammanlagda värdet 21, eller komma så nära som möjligt utan att överskrida 21. Essen är värda valfritt 1 eller 14, kungarna 13, damerna 12, knektarna 11. Nummerkorten har samma värden som valören.</p>
<p>En av deltagarna utses till bankir. Spelet börjar med att bankiren lägger en insats i banken, det vill säga potten som det spelas om, och därefter ger varje spelare utom sig själv ett kort. Spelarna spelar sedan mot bankiren en i taget. Den spelare som är i tur tittar på sitt kort och satsar ett valfritt belopp, som dock inte får vara större än vad som finns i banken, och får därefter ytterligare ett kort.</p>
<p>Om summan av korten är 21 vinner spelaren från banken ett belopp lika stort som insatsen. Är summan större än 21 har spelaren "spruckit" eller "blivit tjock" och förlorar sin insats till banken. Om summan är under 21 kan spelaren antingen förklara sig nöjd eller begära ytterligare kort för att komma närmare 21, men då också riskera att spricka. Om spelaren förklarat sig nöjd, ska bankiren straffa spelaren, det vill säga spela ut egna kort från leken, ett i taget med framsidan uppåt. Spricker bankiren, vinner spelaren lika mycket som sin insats.</p>
<p>När bankiren förklarat sig nöjd, visar spelaren sina kort. Den som har högst vinner. Har båda lika är det bankiren som vinner, likaså om bankiren fått 21. Eftersom oddsen väger över till bankens fördel, är det brukligt att deltagarna turas om med att vara bankir.</p>



<form method="post">
    <p>
        <input class="button" type="submit" name="start" value="Start">
        <input class="button" type="submit" name="dokumentation" value="dokumentation">
    </p>
</form>


        

</div>
{% endblock %}