{% extends 'base1.html.twig' %}

{% block title %}About Us{% endblock %}

{% block content %}
    <div class="about-page">
        <h1>About Us</h1>
        <p>
            Welcome to the Poker Square game! This project is a fun and engaging way to experience the excitement of poker in a unique and interactive format. 
        </p>
        <p>
            <strong>Poker Square</strong> is a variant of poker that challenges you to place cards in a 5x5 grid to create the best possible poker hands in rows and columns.
        </p>
        <p>
            Our goal is to provide a simple yet captivating game that both casual players and poker enthusiasts can enjoy. We hope you have a great time playing and exploring different strategies to achieve the highest score!
        </p>
        <p>
            If you have any questions or feedback, feel free to contact us. Thank you for playing!
        </p>
    </div>
{% endblock %}
